<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oman.webview">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--  after 7.0, if you want to use http, should set this attr, and it will open a new window  -->
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".WebViewActivity"
            android:process=":webview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <service android:name=".mainprocess.MainProcessCommandService" />
    </application>
</manifest>