<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oman.forward">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="com.oman.forward.permission.ROMAN_RECEIVER" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_like_on"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_like_on"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oman.forward.wanandroid.login.LoginActivity" />


        <activity android:name="com.oman.forward.DetailActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".study.annotation.AActivity" />
        <activity android:name=".study.annotation.BActivity" />
        <activity android:name=".study.rxjava.retrofit.RetrofitActivity" />
        <activity android:name=".SearchActivity" />

        <receiver
            android:name=".ipc.RomanReceiver"
            android:exported="true"
            android:permission="com.oman.forward.permission.ROMAN_RECEIVER" />

        <service
            android:name=".ipc.NumberToRomanService"
            android:exported="true" />

        <provider
            android:name=".ipc.NumberToRomanProvider"
            android:authorities="com.oman.forward.provider.numbertoromanprovider"
            android:exported="true" />
    </application>

</manifest>